
/* EMS */
*{
  margin: 0%;
  padding: 0%;
}

/* body {
  background-image: url('.jpg');
  background-size: cover;
  background-position: center;
} */


.header{
  text-align: right;
}

.header li{
  display: inline-block;
  padding: 10px;
}

.loginPage, .signupPage {
  background-color: rgb(7, 75, 100);
  /* background: url('/Images/cover.jpg'); */
  /* background: url('Images/cover.jpg'); */
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm, .signupForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}

/* header */
/* header.css */

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header li {
  display: inline-block;
  margin-right: 20px;
}

.header li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.header li a:hover {
  color: black;
}

.logout {
  margin-left: auto;
  margin-right: 10px;
}

.logout button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.logout button:hover {
  /* background-color: #d32f2f; */
  color: black;
}


