.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:hover{
	text-decoration: none;
}

.section{
	padding-top: 70px;
	padding-bottom: 70px;
}

.section h2.section-head{
	color: #000;
	text-align: center;
	margin-bottom: 40px;
}

.section h2.section-head:after{
	background: #e74c3c;
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	margin: 20px auto;
}

#header{
	color: #fff;
	background: #e74c3c;
}

#logo{
	font-size: 2rem;
	margin-top: 5px;
}

#menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li{
	display: inline-block;
}

#menu li a{
	color: #fff;
	padding: 15px 10px;
	display: block;
}

#menu li a:hover{
	background: #c0392b;
}


#testimonials{
	color: #fff;
	/* background: url(../images/testimonial-bg.jpg) no-repeat 0 0; */
	background-size: cover;
	padding: 50px 0;
	position: relative;
}

#testimonials:before{
	background:rgba(52, 73, 94, 0.7);
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.testimonial img{
	border-radius: 50%;
	margin-bottom: 5px;
}








@media (max-width: 768px){
	#logo{
		text-align: center;
		margin: 10px 0;
	}
	#menu{
		text-align: center;
	}
	.banner-title{
		padding-top: 0;
	}
	.banner-title h1{
		font-size: 1.7rem;
	}
	.section{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.testimonial{
		text-align: center;
		margin-bottom: 30px;
	}
	.service-box{
		margin-bottom: 30px;
	}
	
	.footer-widget{
		margin-bottom: 20px;
	}

	#footer{
		text-align: center;
	}
	#social-icons{
		margin-top: 10px;
	}
}